include ../components/variables.pug

mixin sectionRoom([url, width, height, alt, formatBase, category, area, size, price])
  .rooms__wrapper
    .rooms__img
      picture
        img(src=url + "." + formatBase
        srcset=url + "@2x." + formatBase + " 2x"
        width=width height=height
        alt=alt
        loading="lazy")
    .rooms__info
      h3 #{category}
      ul.rooms__parametres
        li.rooms__area
          p Площадь - #{area}
        li.rooms__size
          p Размеры (ШхГхВ) — #{size}
        li.roms__price
          p Цена за сутки: #{price}
        button.rooms__button(type="button")

section.rooms
  h2 Номера
  +sectionRoom(roomEconomPlus)
  +sectionRoom(roomComfort)

