mixin roomsParametres([category, area, size, price])
  h3 #{category}
  ul.rooms__parametres-list
    li.rooms__parametres-item.rooms__area
      p Площадь - #{area}
    li.rooms__parametres-item.rooms__size
      p Размеры (ШхГхВ) — #{size}
    li.rooms__parametres-item.rooms__price
      p Цена за сутки: #{price}
  a.rooms__button.button.button-order(href='#popup_booking') Забронировать

mixin picture([urlDesktop, urlTablet, urlMobile, widthTablet, widthDesktop, widthImg, heightImg, alt, formatBase])
  picture
    source(type="image/webp" media="(max-width: 767px)"
      srcset = urlMobile + ".webp 1x, " + urlMobile + "@2x" + ".webp 2x")
    source(type="image/webp" media="(max-width: 1023px)"
      srcset = urlTablet + ".webp 1x, " + urlTablet + "@2x" + ".webp 2x")
    source(type="image/webp"
      srcset = urlDesktop + ".webp 1x, " + urlDesktop + "@2x" + ".webp 2x")
    img(src = urlDesktop + "." + formatBase, srcset= urlDesktop + "@2x." + formatBase + " 2x",
      width = widthImg, height = heightImg, alt = alt, loading = "lazy")

mixin rooms(title)
  section.rooms
    h2 #{title}
    .rooms__wrapper.slider
      ul.rooms__list
        li.rooms__item.rooms__item-1.rooms__item--active
          .rooms__img
            block
            +picture(picturesRoomsEconomPlus)
          .rooms__info
            block
            +roomsParametres(roomEconomPlus)
        li.rooms__item.rooms__item-2
          .rooms__img
            block
            +picture(picturesRoomsComfort)
          .rooms__info
            block
            +roomsParametres(roomComfort)
        li.rooms__item.rooms__item-3
          .rooms__img
            block
            +picture(picturesRoomsSuite)
          .rooms__info
            block
            +roomsParametres(roomSuite)
    include _slider-buttons.pug

mixin offers-cards([title, area, size, price, href, icon1, icon2, icon3, icon4, icon5, image, areaValue])
  li.offers__item(data-area = areaValue)
    a.offers__link(href = href)
      .offers__image
        block
        +picture(image)
      .offers__info
        p #{title}
        ul.offers__booking-parametres
          li.offers__booking-size
            p Размеры (ШхГхВ) -
            span #{size}
          li.offers__booking-area
            p Площадь -
            span #{ area}
          li.offers__booking-equipment
            p Оснащение номера
            .offers__equipment-icons
              ul.offers__icons-list
                if icon1 == true
                  li.offers__icons-item.offers__icons-tooltip(data-title="Пустой номер")
                    svg(width="16" height="16")
                      use(xlink:href="img/sprite_auto.svg#empty")
                if icon2 == true
                  li.offers__icons-item.offers__icons-tooltip(data-title="Лежак")
                    svg(width="16" height="12")
                      use(xlink:href="img/sprite_auto.svg#bed")
                if icon3 == true
                  li.offers__icons-item.offers__icons-tooltip(data-title="Когтеточка")
                    svg(width="14" height="16")
                      use(xlink:href="img/sprite_auto.svg#tower")
                if icon4 == true
                  li.offers__icons-item.offers__icons-tooltip(data-title="Игровой-комплекс")
                    svg(width="16" height="16")
                      use(xlink:href="img/sprite_auto.svg#game")
                if icon5 == true
                  li.offers__icons-item.offers__icons-tooltip(data-title="Домик")
                    svg(width="16" height="16")
                      use(xlink:href="img/sprite_auto.svg#house")
          li.offers__booking-price
            p Цена за сутки:
            span #{ price}
    .offers__booking-button
      form(action="#popup_booking")
        button.button.offers__button.button-order Забронировать

mixin itemFilterArea(data)
  each value, index in data
    - var dif = index+1
    li(class= "offers__fiters-item" class= "offers__fiters-area-item" class="offers__fiters-area-item" + dif)
      input.visually-hidden(type="checkbox" name="area" + dif id="area" + dif checked tabindex="-1")
      label(for="area" + dif tabindex="0" data-value = value) #{value} м2

mixin itemFilterEquipment(data)
  each value, index in data
    - var dif = index+1
    li(class= "offers__fiters-item" class= "offers__fiters-equipment-item" class="offers__fiters-equipment-item" + dif)
      input.visually-hidden(type="checkbox" name="equipment" + dif id="equipment" + dif  checked tabindex="-1")
      label(for="equipment" + dif tabindex="0" data-hidden = "type" + dif) #{value}
